<h1>Create New User</h1>

<form class="form-horizontal">

	<div class="control-group">
		<label for="email" class="control-label">Email</label>
		<div class="controls">
			<input id="email" name="email" type="email" required="required" autofocus class="js-email" />
		</div>
	</div>

	<div class="control-group">
		<label for="password1" class="control-label">Password</label>
		<div class="controls">
			<input id="password1" name="password1" type="password" required="required" class="js-password1" />
		</div>
	</div>

	<div class="control-group">
		<label for="password2" class="control-label">Password (again)</label>
		<div class="controls">
			<input id="password2" name="password2" type="password" required="required" class="js-password2" />
		</div>
	</div>

	<div class="form-actions">
		<button type="submit" name="submit" class="js-submit btn btn-primary">OK</button>
	</div>
</form>

<div class="alert alert-info down-1">
	<h4 class="alert-heading">Already Have an Account?</h4>
	If you already have an account with us, you can <a href="#" data-href="/user/signin">sign in here</a>.
</div>
