<h1>Sign In</h1>

<form class="js-login-form form-horizontal">

	<div class="control-group">
		<label for="email" class="control-label">Email</label>
		<div class="controls">
			<input id="email" name="email" type="email" required="required" autofocus class="js-email" />
		</div>
	</div>

	<div class="control-group">
		<label for="password" class="control-label">Password</label>
		<div class="controls">
			<input id="password" name="password" type="password" required="required" class="js-password" />
		</div>
	</div>

	<div class="form-actions">
		<button type="submit" name="submit" class="js-submit btn btn-primary">OK</button>
	</div>

</form>

<div class="alert alert-info down-1">
	<h4 class="alert-heading">Don't Have an Account?</h4>
	If you don't have an account with us, you can <a href="#" data-href="/user/new">sign up here</a>.
</div>
